body {
    width: 500px;
    height: 600px;
    padding: 0px;
    margin: 0px;
    font-family: helvetica;
}

header {
    background-color: #b9e3ff;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1f4877;
    text-shadow: 0px 0px 100px #1f4877;

    #icon {
        height: 35%;
        width: 35%;
    }
}

#panel-log {
    padding: .5rem;

    #panel-head {
        padding: 0rem 1rem;

        button {
            float: right;
            background-color: #0e8ac9;
            color: #fff;
            border-radius: 5px;
            border: none;
            padding: .25rem .5rem;
            margin-top: -.5rem;
            transition: ease .2s;
            cursor: pointer;
            
            img {
                width: 1.5rem;
            }
        }

        button:hover {
            background-color: #b11266;
        }
    }

    .request {
        padding: .5rem;

        ::details-content {
            margin-top: .5rem;
        }

        code {
            background-color: #eee;
            padding: .5rem .7rem;
            border-radius: .5rem;
            display: block;
            overflow-x: scroll;
        }

        #buttonBar {
            position: absolute;
            right: 1rem;
            padding-right: .5rem;

            button {
                float: right;
                border: none;
                background-color: #ccc;
                margin: .2rem;
                padding: .1rem .2rem;
                border-radius: 3px;
                cursor: pointer;
            }

            button:hover {
                background-color: #bbb;
            }
        }
    }
}
